@layer guide.globals, guide.page, guide.display, guide.utilities;

@import url('components/GuideList.css');

@layer guide.utilities {
  .fpo {
    background-color: rgba(255, 0, 255, 0.9);
    outline: rgba(255, 0, 255, 0.9) solid 4px;
    color: white !important;
  }
  .guide-select-string {
    user-select: all;
  }
}
