{# todo remove this template – replace with vue component #}

<div class="guide_header">
    {% set iconUrl = view.getAssetManager().getPublishedUrl('@wbrowar/guide/assetbundles/guide/dist', true) ~ '/icon/icon.svg' %}

    {% if settings.rebrand is defined and (settings.rebrand.headerIconUrl ?? false) %}
        {% set iconUrl = settings.rebrand.headerIconUrl %}
    {% elseif settings.rebrand is defined and (settings.rebrand.headerIconFile ?? false) %}
        {% set iconAsset = craft.assets.id(settings.rebrand.headerIconFile).one() %}
        {% set iconUrl = iconAsset.url|replace(siteUrl, '') %}
    {% endif %}

    <div class="guide_header__icon"><img src="{{ iconUrl }}" alt="Guide header icon"></div>
    <div class="guide_header__title">{{ title }}</div>
</div>