{# todo remove this template #}

<div class="guide_settings__rebrand__header">
    {% include 'guide/_partials/guide_header.twig' with {
        settings: settings,
        title: 'Rebrand Demo',
    } only %}
</div>

{%- set content -%}
# Guide Styles

Guide can be re-styled to match the look and feel of a client’s brand or to represent the designer of the front-end website. Changes to styles on the left will override the styles of guides and <a href="{{ url('guide') }}">Guide CP pages</a>.

Rebrand affects the following places where guides are displayed:

| Location | Description |
| --- | --- |
| CP Pages | Rebrand will style the header, menu sidebar, and the content of Guide CP pages. |
| Dashboard Widgets | The background color of the widget will change along with colors and other Rebrand styles. |
| Sidebar Modals | On entry edit pages, category edit pages, or user edit pages the content of the modal that pops will be styled by Rebrand. |

## Layout

The max width set on headers and text areas is there to restrict line lengths for better readability. This max width can be changed by setting the `--max-width-text` property.

### Grid Gap

<grid grid-type="2-column">
    <div>
        <p>The default grid gap can be changed by setting the <code>--grid-gap</code> property.</p>
    </div>
    <div>
        The default is: <code>1.6rem 5rem</code>
    </div>
    <div>
        <p>The grid gap can be set to one number for even spacing around all of the elements.</p>
    </div>
    <div>
        <p>Alternatively, two numbers can be used to change both the vertical and horizontal spacing of the grid. See the Mozilla Docs for more information.</p>
        {{ craft.guide.component('button', { label: 'Go to the Docs', url: url('https://developer.mozilla.org/en-US/docs/Web/CSS/gap') }) }}
    </div>
</grid>

<div class="c_tip">
    <div class="c_tip__header">Grid choices</div>
    <div class="c_tip__content">
        <p>There are several types of grid components that can be used to display information. Each grid type shares the <code>--grid-gap</code> setting.</p>
    </div>
</div>

## Colors

Changing colors will update CSS Custom Properties used in Guide content and on guide pages. Some colors will be displayed at full transparency, where others have lowered transparency to make things like rollovers easier to style.

You may use the Custom CSS field to override colors and opacity in places where elements with opacity don't blend well with the colors behind it.
{%- endset -%}

<div class="guide_settings__rebrand__content">
    {% set guide = { content: content, contentSource: 'field', format: 'markdown' } %}

    {% include('guide/_partials/render_content.twig') %}
</div>
