<guide-slideout-button {{ docs ? 'docs-page' : '' }} page-slug="{{ slug }}">
  <button class="btn" type="button">{{ svg('@wbrowar/guide/assetbundles/static/icon-mask.svg')|raw }}<span>{{ label }}</span></button>
</guide-slideout-button>