{# /**
 * Guide plugin for Craft CMS
 *
 * UI element field
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if ui %}
  {% if guide ?? false %}
    <div class="guide_ui_element guide_styles">
      {% if guide.contentSource != 'iframe' %}
        <div class="guide_ui_element__header">
          {% include 'guide/_partials/guide_header.twig' with {
            settings: settings,
            title: guide.title,
          } only %}
        </div>
      {% endif %}

      <div class="guide_ui_element__content guide_ui_element__content--{{ guide.contentSource }}">
        {{ include('guide/_partials/render_content', { guide: guide }) }}
      </div>
    </div>
  {% else %}
    <div style="padding: 20px;">The guide that was displayed here is no longer available. Select another guide in this widget’s settings.</div>
  {% endif %}
{% else %}
  <div class="guide_styles">
    {{ include('guide/_partials/render_content', { guide: guide }) }}
  </div>
{% endif %}
