{% apply spaceless %}
  {# /**
   * Guide plugin for Craft CMS
   *
   * Guide Widget Body
   *
   * @author    Will Browar
   * @copyright Copyright (c) 2019 Will Browar
   * @link      https://wbrowar.com
   * @package   Guide
   * @since     5.0.0
   */ #}

  {% if docs %}
    <button class="visually-hidden" type="button">{{ 'This button is a focus trap that grabs focus when the slideout panel is opened and it slides the slideout content to the top when button is focused on.'|t('guide') }}</button>
    <div class="guide">
      {{ source('guide/docs/en/' ~ slug ~ '.md')|md('gfm') }}
    </div>
  {% else %}
    {% set slugs = slug|split('|') %}

    {% set guides = craft.guide.getAll({ slug: slugs }) %}

    {% if guides ?? false %}
      {% include 'guide/_partials/guide_display.twig' with { guideDisplayArea: 'slideout', displayId: 'page', element: element ?? null, guides: guides } %}
    {% endif %}
  {% endif %}
{% endapply %}
