{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Utility Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{# The title of this CP section #}
{% set title = "Import and Export Guides"|t('guide') %}

<div
  id="guide-utilities"
  {% if guidesJson ?? false %}data-export-data="{{ guidesJson }}"{% endif %}
></div>

<guide-utilities></guide-utilities>
