{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Utility Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

<div
  id="guide-utilities"
  {% if guidesJson ?? false %}data-export-data="{{ guidesJson }}"{% endif %}
></div>