<div id="adminbar_guide_for_entry__body" class="guide_text guide__modal">
    {% if entry ?? false %}
        {% for userGuide in guideQuery({ sectionId: entry.section.id, typeId: entry.type.id }) %}
            {{ renderUserGuideBody({
                content: userGuide.content,
                format: userGuide.format,
                userGuide: userGuide,
            })|raw }}
        {% endfor %}
    {% endif %}
</div>

{% css view.registerCssFile(view.getAssetManager().getPublishedUrl('@wbrowar/guide/assetbundles/guide/dist', true) ~ '/css/guide.css') %}

<style>
    h1 { font-size: 2.2em; color: var(--adminbar-color-highlight); }
    h2 { font-size: 1.4em; color: var(--adminbar-color-highlight); }
</style>

<script>
    //if (document.getElementById('adminbar_guide_for_entry__body').innerHTML === '') { adminBarRemoveWidget('guide_guide-for-entry'); };
</script>