{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% if (guideId ?? false) %}
  {% set guide = craft.guide.getOne({ id: guideId }) %}

  {% if guide ?? false %}
    {% set title = "Delete " ~ guide.title %}
  {% else %}
    {% redirect 'guide/organizer' %}
  {% endif %}
{% else %}
  {% redirect 'guide/organizer' %}
{% endif %}

{% set content %}
  <form method="post">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="guide/guide/delete-guide">
    <input type="hidden" name="id" value="{{ guideId }}">

    {% if craft.app.request.param('return') ?? false %}
      <input type="hidden" name="redirect" value="{{ craft.app.request.param('return') }}">
    {% endif %}

    <p><b>Are you sure you want to delete this guide?</b></p>

    <p>The guide content stored in the database will be deleted. No template files will be deleted.</p>

    <div class="buttons">
      <input class="btn submit" type="submit" value="Delete">
      <a class="btn" href="{{ url('guide/organizer') }}">Back to Organizer</a>
    </div>
  </form>
{% endset %}