{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Edit Page
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = title ?? "Guide Edit"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'list' %}

{% if not (guide is defined) %}
  {% if (guideId ?? false) %}
    {% set guide = craft.guide.getOne({ id: guideId }) %}
    {% set isNew = false %}
  {% else %}
    {% set title = "New Guide"|t('guide') %}
    {% set guide = craft.guide.getAll([], 'new') %}
    {% set isNew = true %}
  {% endif %}
{% endif %}

{% set cpTrigger = craft.app.config.general.cpTrigger %}
{% set fullPageForm = true %}

{% block actionButton %}
  <div class="buttons">
    <button class="btn submit" type="button">Save</button>
  </div>
{% endblock %}

{% set content %}
  {% set guideData = {
    content: guide.content ?? '',
    contentSource: guide.contentSource ?? 'field',
    contentUrl: guide.contentUrl ?? '',
    id: guide.id ?? -1,
    slug: guide.slug ?? '',
    summary: guide.summary ?? '',
    template: guide.template ?? '__none__',
    title: guide.title ?? '',
  } %}










  <input type="hidden" name="action" value="guide/guide/save-guide" />
  <input type="hidden" name="authorId" value="{{ guide.authorId ?? currentUser.id }}" />
{#  <input type="hidden" name="content" :value="editorContent" />#}

  {% if guideId ?? false %}
    <input type="hidden" name="id" value="{{ guideId }}" />
  {% endif %}

  {% set redirect = craft.app.request.param('return') ?? false ? craft.app.request.param('return') : null %}
  {% if redirect ?? false %}
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  {% endif %}

  <p>{{ guide.title }}</p>

  <guide-editor>
    <div slot="settings">Settingggs</div>
  </guide-editor>
{% endset %}