{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Edit Page
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = title ?? 'Guide Edit'|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% if not (guide is defined) %}
  {% if (guideId ?? false) %}
    {% set guide = craft.guide.getOne({ id: guideId }) %}
    {% set isNew = false %}
  {% else %}
    {% set title = 'New Guide'|t('guide') %}
    {% set guide = craft.guide.getAll([], 'new') %}
    {% set isNew = true %}
  {% endif %}
{% endif %}

{% block actionButton %}
  <div id="guide-action-buttons"></div>
{% endblock %}

{% set content %}
  {% set formData = {
    action: 'guide/guide/save-guide',
    authorId: guide.authorId ?? currentUser.id,
    redirect: craft.app.request.param('return') ?? false ? craft.app.request.param('return') : null,
    csrf: craft.app.config.general.csrfTokenName ~ '|' ~ craft.app.request.csrfToken,
  } %}

  {% set guideData = {
    content: guide.content ?? '',
    contentSource: guide.contentSource ?? 'field',
    contentUrl: guide.contentUrl ?? '',
    id: guide.id ?? -1,
    slug: guide.slug ?? '',
    summary: guide.summary ?? '',
    template: guide.template ?? '__none__',
    title: guide.title ?? '',
  } %}

  <div
    id="guide-editor"
    {% if isNew %}data-is-new{% endif %}
    data-form-data="{{ formData|json_encode }}"
    data-guide-data="{{ guideData|json_encode }}"
  ></div>
{% endset %}