{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer" %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
    <a class="btn add icon submit" href="{{ url('guide/new') }}">New Guide</a>
    <div id="guide-action-buttons"></div>
{% endblock %}

{% set content %}
    <div id="guide-editor"></div>
{% endset %}