{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer" %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
    <div id="guide-action-buttons"></div>
{% endblock %}

{% set content %}
    {% set groupsData = [
        {
            description: 'The Guide CP Section',
            header: 'Guide',
            label: 'Guide',
            name: 'nav',
            groupId: null,
        },
        {
            description: 'All asset pages',
            header: 'Assets',
            label: 'Assets',
            name: 'assets',
            groupId: null,
        },
        {
            description: 'Assets in the Guide volume',
            header: 'Guiide Assets',
            label: 'Asset Volumes',
            name: 'assetVolume',
            groupId: 1,
        },
        {
            description: 'Assets in the Other volume',
            header: 'Other Assets',
            label: 'Asset Volumes',
            name: 'assetVolume',
            groupId: 2,
        }
    ] %}

{#    {% set placementsData = [#}
{#        {#}
{#            access: 'all',#}
{#            group: 'nav',#}
{#            groupId: null,#}
{#            guideId: 1,#}
{#            id: 1,#}
{#            portalMethod: 'append',#}
{#            selector: null,#}
{#            uri: null,#}
{#        }#}
{#    ] %}#}

    <div
      id="guide-organizer"
      data-action-url-get-all-placements="{{ actionUrl('guide/placement/get-all-placements') }}"
      data-cp-trigger="{{ craft.app.config.general.cpTrigger }}"
      data-groups-data="{{ groupsData|json_encode }}"
{#      data-placements-data="{{ placementsData|json_encode }}"#}
    ></div>
{% endset %}