{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
  {% include 'guide/_partials/slideout_button.twig' with { docs: true, label: 'Docs'|t('guide'), slug: 'guide-organizer' } only %}

  {% if userOperations.editGuides %}
    <div id="guide-action-buttons">
      <a class="btn add icon submit" href="{{ cpUrl('guide/new') }}">New Guide</a>
    </div>
  {% endif %}
{% endblock %}

{% set tMessages = {
  'addAGuide': 'Add a Guide'|t('guide'),
  'addGuideToGroupOptionDefault': 'Select a guide to add it to this group'|t('guide'),
  'guidesDisplayed': 'Guides Displayed'|t('guide'),
  'placementDeleteSuccess': '[guide] has been removed.'|t('guide'),
  'placementSaveSuccess': '[guide] has been added to [group].'|t('guide'),
  'placementUriSaveSuccess': 'Control Panel Page guide has been updated.'|t('guide'),
  'preview': 'Preview'|t('guide'),
  'remove': 'Remove'|t('guide'),
  'uriPlacementIsValid': 'The settings for this guide are valid.'|t('guide'),
  'uriPlacementIsInvalid': 'The settings for this guide are not valid.'|t('guide'),
} %}

{% set content %}
  <guide-organizer
      action-url-get-all-placements="{{ actionUrl('guide/placement/get-all-placements') }}"
      t-messages="{{ tMessages|json_encode }}"
      groups-data="{{ groupsData|json_encode }}"
  ></guide-organizer>
{% endset %}