{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer" %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
  <div id="guide-action-buttons"></div>
{% endblock %}

{% set content %}
  <div
    id="guide-organizer"
    data-action-url-get-all-placements="{{ actionUrl('guide/placement/get-all-placements') }}"
    data-cp-trigger="{{ craft.app.config.general.cpTrigger }}"
    data-groups-data="{{ groupsData|json_encode }}"
  ></div>
  <guide-organizer></guide-organizer>
{% endset %}