{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer" %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
    <a class="btn add icon submit" href="{{ url('guide/new') }}">New Guide</a>
    <div id="guide-action-buttons"></div>
{% endblock %}

{% set content %}

    {% set settingsData = {
        assetVolume: settings.assetVolume,
        clientName: settings.clientName,
        components: settings.components,
        myCompanyName: settings.myCompanyName,
        rebrand: settings.rebrand,
        templatePath: settings.templatePath,
    } %}

    <div
      id="guide-editor"
      data-guides=""
      data-settings-data="{{ settingsData|json_encode }}"
      data-user-operations="{{ userOperations|json_encode }}"
    ></div>

    <div id="guide__organizer" class="guide__organizer">
        <organizer organizer-config="{{ organizerConfig|json_encode }}"></organizer>
    </div>
{% endset %}