{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% requirePermission 'useOrganizer' %}

{# The title of this CP section #}
{% set title = "Guide Organizer"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'organizer' %}

{% block actionButton %}
  {% if userOperations.editGuides %}
    <div id="guide-action-buttons">
      <a class="btn add icon submit" href="{{ cpUrl('guide/new') }}">New Guide</a>
    </div>
  {% endif %}
{% endblock %}

{% set content %}
  <guide-organizer
      action-url-get-all-placements="{{ actionUrl('guide/placement/get-all-placements') }}"
      cp-trigger="{{ craft.app.config.general.cpTrigger }}"
      groups-data="{{ groupsData|json_encode }}"
  ></guide-organizer>
{% endset %}