{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{% set guide = (slug ?? false) ? craft.guide.getOne({ slug: slug }) : craft.guide.getAll({}, 'new') %}

{% if not (guide.slug ?? false) or not proEdition %}
  {% redirect 'guide' %}
{% endif %}

{# The title of this CP section #}
{% set title = guide.title ?? "Guide"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'list' %}

{% block actionButton %}
  <div class="buttons">
    {% if userOperations.editGuides %}
      <a class="btn edit icon" href="{{ url('guide/edit/' ~ guide.id, 'return=' ~ craft.app.request.url) }}">Edit Guide</a>
    {% endif %}

    {% if userOperations.deleteGuides %}
      <a class="btn delete icon" href="{{ url('guide/delete/' ~ guide.id, 'return=' ~ craft.app.request.url) }}">Delete Guide</a>
    {% endif %}
  </div>
{% endblock %}

{% set content %}
  {% include 'guide/_partials/guide_display.twig' with { guideDisplayArea: 'page', displayId: 'page', guides: [guide] } only %}
{% endset %}