{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Guide plugin for Craft CMS 3.x
 *
 * Guide index.twig
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2017 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("wbrowar\\guide\\assetbundles\\guide\\GuideAsset") %}
{% do view.registerAssetBundle("wbrowar\\guide\\assetbundles\\guide\\GuideAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/wbrowar/guide/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Guide" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('guide') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@wbrowar/guide/assetbundles/guide/dist', true) ~ '/icon/guide-mask.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('guide') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('guide') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
