{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Welcome
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{% set title = "Welcome"|t('guide') %}
{% set selectedSubnavItem = 'settings' %}

{% block content %}
  <div
    id="guide-welcome"
    data-skip-url="{{ url('guide') }}"
  ></div>
{% endblock %}