guide-organizer {
  position: relative;

  .guide-organizer-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: var(--l);
    padding-block-start: 1em;
    position: sticky;
    top: var(--guide-top);
    line-height: 32px;
    background-color: white;
    z-index: 2;

    &.guide-organizer-header-large {
      &:not(:first-child) {
        margin-block-start: 6rem;
      }
      & h2 {
        font-size: 2.4rem;
      }
    }
    &.guide-organizer-header-small {
      padding-inline-start: var(--xl);

      &:not(:first-child) {
        margin-block-start: 2rem;
      }
      & h2 {
        font-size: 1.8rem;
      }
      & + .guide-organizer-section {
        padding-inline-start: var(--xl);
      }
    }
  }
  .guide-organizer-section {
    z-index: 1;

    & ul {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      gap-column: var(--s);
      border: 1px solid var(--hairline-color);
      border-radius: var(--guide-border-radius);

      & li {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 4;
        align-items: center;
        gap: 1rem;
        padding: var(--s);

        &:nth-child(odd) {
          background-color: color-mix(in srgb, var(--guide-color-blue), transparent 94%);
        }
        &:hover {
          background-color: color-mix(in srgb, var(--guide-color-blue), transparent 88%);
        }
        & + li {
          border-block-start: 1px solid color-mix(in srgb, var(--guide-color-blue), transparent 80%);
        }
        & .guide-uri-valid {
          color: var(--enabled-color);
        }
        & .guide-uri-invalid {
          color: var(--disabled-color);
        }
        & .guide-organizer-title {
          font-weight: 600;
        }
        & .guide-organizer-section-uri-fields {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: start;
          gap: var(--s);
        }
        & .buttons {
          margin-top: 0;
        }
      }
    }

    & .guide-organizer-group-empty {
      padding: var(--s);
      border: 1px dashed color-mix(in srgb, var(--guide-color-blue), transparent 50%);
      border-radius: var(--guide-border-radius);
    }

    .select:last-child {
      margin-block-start: 1em;
    }
  }
}
