.guide-display {
  container-name: guide-display;
  container-type: inline-size;
}
guide-display {
  display: grid;
  grid-template-columns: var(--grid-template-columns, 1fr);
  gap: calc(var(--xl) * 2);
  position: relative;
  align-items: start;

  & > aside {
    display: grid;
    align-items: start;
    gap: var(--xl);
    position: sticky;
    top: var(--guide-display-aside-top, 0px);

    & nav {
      & ul {
        display: grid;
        gap: var(--s);

        & li {
          transition: font-weight .1s ease-out, color .1s ease-out;

          &.selected {
            font-weight: bold;
            color: var(--primary-color);
            list-style: disc;
          }

          @container guide-display (width <= 600px) {
            margin-inline-start: var(--m);
          }
        }
      }
    }
  }

  #page-container:has(#header) & {
    --guide-display-aside-top: calc(var(--header-height) + .5rem);
  }

  @container guide-display (width > 600px) {
    &:has(aside) {
      --grid-template-columns: 1fr 200px;
    }
  }
}

.guide {
  container-name: guide;
  container-type: inline-size;

  & > * + * {
    margin-block-start: 1.6em;
  }
  & > * + :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 2.4em;
  }

  & :is(blockquote, dd, dl, h1, h2, h3, h4, h5, h6, hr, p, li, pre) {
    max-width: 70ch;
    font-size: 1rem;
    line-height: 1.4rem;
    text-wrap: pretty;

    & code {
      padding: 0.4em;
      background-color: color-mix(in srgb, var(--blue-100), transparent 40%);
      border-radius: var(--guide-border-radius);
      font-family: monospace;
      user-select: all;
    }
  }
  & blockquote {
    padding-inline: var(--l);
    padding-block: var(--s);
    background-color: color-mix(in srgb, var(--gray-100), transparent 70%);
    border-inline-start: 1px solid var(--gray-300);
  }
  & iframe {
    aspect-ratio: var(--guide-iframe-aspect);
    max-width: 100%;
    height: auto;

    &:is([src^="https://player.vimeo.com"], [src^="https://www.youtube.com"]) {
      --guide-iframe-aspect: 16 / 9;
    }
  }
  & img {
    border-radius: var(--guide-border-radius);
  }
  & pre {
    max-width: 100%;
    overflow-x: auto;

    & > code {
      padding: 1em;
      font-size: 1rem;
      white-space: pre;
    }
  }
  & :is(ol, ul) {
    & li {
      margin-inline-start: var(--l);

      & + li {
        margin-block-start: var(--s);
      }

      &::marker {
        color: var(--primary-color);
      }
    }
  }
  & ul li {
    list-style: initial;
  }
  & table {
    width: 100%;
    border-radius: var(--guide-border-radius);

    & thead {
      & tr {
        background-color: var(--gray-200);

        & th {
          padding-inline: .7em;
        }
      }
    }
    & tbody {
      & tr {
        &:hover {
          background-color: color-mix(in srgb, var(--gray-200), transparent 60%);
        }

        & td {
          padding-inline: .7em;
        }
      }
    }
    & tfoot {
      & tr {
        background-color: color-mix(in srgb, var(--gray-200), transparent 30%);

        & td {
          padding-inline: .7em;
        }
      }
    }
  }
  & video {
    aspect-ratio: var(--guide-video-aspect, 16 / 9);
    border-radius: var(--guide-border-radius);
  }
}
