.guide-book-binding {
  --guide-book-binding-width: 60px;

  margin-inline: auto;
  width: var(--guide-book-binding-width);
}

guide-book {
  display: block;
  margin-block: -25%;
  max-width: var(--guide-book-binding-width);

  @container guide-display (width>600px) {
    transform: translateX(-16px);
  }
}
