.guide-editor {
  container-name: guide-editor;
  container-type: inline-size;
}
guide-editor {
  &:not(:defined) * {
    display: none;
  }
  & > aside {
    position: sticky;
    top: 70px;
  }
  & .guide-tab-icon {
    width: 20px;
    height: 20px;

    & svg {
      fill: var(--guide-tab-icon-svg-fill);
    }
  }
}

#content:has(guide-editor) {
  & .monaco-editor {
    border-radius: var(--guide-border-radius);
  }
}
