/*
 * Add global CSS
 */

@tailwind base;

.fpo {
  background-color: rgba(255, 0, 255, 0.9);
  outline: rgba(255, 0, 255, 0.9) solid 4px;
  color: white !important;
}

.guide {
  @apply g-space-y-6;
}

.guide .g-image {
  @apply g-rounded-lg g-shadow-lg g-text-text;
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

.guide :is(.g-iframe, .g-video) {
  @apply g-rounded-lg g-shadow-lg g-text-text;
  display: block;
  aspect-ratio: var(--aspect-ratio, 16 / 9);
  width: 100%;
  height: auto;
  line-height: 0;
}

@tailwind components;
@tailwind utilities;