/*
 * Add global CSS
 */

@tailwind base;

.fpo {
  background-color: rgba(255, 0, 255, 0.9);
  outline: rgba(255, 0, 255, 0.9) solid 4px;
  color: white !important;
}

/* Wrapper */
.guide {}
/* Same as `g-space-y-6` with .guide-edit-button included */
.guide > :not([hidden]):not(.guide-edit-button) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

/* Elements */
.guide code {
  background-color: hsla(209, 20%, 25%, 0.2);
  outline: 4px solid hsla(209, 20%, 25%, 0.2);
  word-break: break-word;
  color: hsl(209, 20%, 25%);
}
.guide pre {
  padding: 15px;
  background-color: hsla(209, 20%, 25%, 0.2);
  border-radius: 5px;
  white-space: pre-wrap;
}
.guide pre code {
  background-color: transparent;
  outline-color: transparent;
}

/* Components */
.guide .g-heading {
  position: relative;
  scroll-margin-top: 70px;
}
.guide .g-heading:hover::before {
  content: '#';
  display: block;
  position: absolute;
  top: 0;
  left: calc(-1ch * 1.3);
}
.guide .g-heading a {
  @apply g-text-text g-no-underline;
}

.guide .g-image {
  @apply g-rounded-lg g-shadow-lg g-text-text;
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

.guide :is(.g-iframe, .g-video) {
  @apply g-rounded-lg g-shadow-lg g-text-text;
  display: block;
  aspect-ratio: var(--aspect-ratio, 16 / 9);
  width: 100%;
  height: auto;
  line-height: 0;
}

.guide .g-table {
  width: 100%;
  border: 1px solid hsla(209, 20%, 25%, 0.9);
  border-radius: 5px;
}
.guide .g-table thead {
  border-radius: calc(5px * .5) calc(5px * .5) 0 0;
  background-color: hsla(209, 20%, 25%, 0.9);
}
.guide .g-table thead :is(th, td) {
  padding: 10px;
  font-weight: 500;
  color: #FFFFFF;
}
.guide .g-table th:first-child, .guide .g-table td:first-child {
  border-radius: calc(5px * .5) 0 0 0;
}
.guide .g-table th:last-child, .guide .g-table td:last-child {
  border-radius: 0 calc(5px * .5) 0 0;
}

.guide .g-table tbody tr {
  border-bottom: 1px solid hsla(209, 20%, 25%, 0.9);
  border-right: 1px solid hsla(209, 20%, 25%, 0.9);
}
.guide .g-table tbody td {
  padding: 10px;
  border-top: 1px solid hsla(209, 20%, 25%, 0.9);
  border-left: 1px solid hsla(209, 20%, 25%, 0.9);
}
.guide .g-table tbody td:first-child {
  border-left: none;
}
.guide .g-table tbody tr:first-child td {
  border-top: none;
}

@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.g-scoll-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.g-scoll-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* TL;DR */
.guide:not(.guide-tldr) .tldr-show {
  display: none;
}
.guide.guide-tldr .tldr-hide {
  display: none;
}