{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if guides|length %}
  <div class="hidden" data-guide-content>
    {% set guidesSlugs = [] %}
    {% for guide in guides %}
      {% set guidesSlugs = guidesSlugs|merge([guide.slug]) %}
    {% endfor %}
    {% include 'guide/_partials/slideout_button.twig' with { docs: false, element: element ?? null, group: group ?? null, label: settings.guideButtonLabel != '' ? settings.guideButtonLabel : 'Guide'|t('guide'), slug: guidesSlugs|join('|') } only %}

    <div data-guide-content-guides>
      {% set params = {
        guideDisplayArea: 'elementEdit',
        displayId: 'page',
        element: element ?? null,
        guides: guides,
      } %}

      {% if group == 'user' %}
        {% set params = params|merge({ user: element ?? null }) %}
      {% else %}
        {% set params = params|merge({ element: element ?? null }) %}
      {% endif %}

      {% include 'guide/_partials/guide_display.twig' with params only %}
    </div>

    {% set guideContentMove %}
      {# Remove guide content from a Live Preview form, if there is one. #}
      var guideLpGuideMarkup = document.querySelector('.lp-content [data-guide-content]');
      if (guideLpGuideMarkup) {
        guideLpGuideMarkup.remove();
      }

      var guideButton;
      var guideContent;
      var guideContentContainer;

      {# Check to see if slideout exists and if so select the wrapper inside. #}
      var slideoutGuideContent = document.querySelector('.cp-screen.slideout.showing-sidebar [data-guide-content]');

      if (slideoutGuideContent) {
        guideButton = slideoutGuideContent.querySelector('guide-slideout-button');
        guideContentContainer = slideoutGuideContent.closest('.slideout').querySelector('.so-footer div:has(.btn.submit)');

        if (guideButton && guideContentContainer) {
          {# Move guide button next to action buttons. #}
          guideContentContainer.prepend(guideButton);

          {# Remove wrapper from DOM. #}
          slideoutGuideContent.remove();
        }
      } else {
        var guideContentWrapper = document.querySelector('#content [data-guide-content]');

        if (guideContentWrapper) {
          {% if settings.editPageLocation == 'slideout' %}
            var guideContentContainer = document.querySelector('#action-buttons');

            {# Remove unused elements from DOM. #}
            guideContentWrapper.querySelector('[data-guide-content-guides]')?.remove();

            if (guideContentContainer) {
              {# Move guide content into wrapper. #}
              guideContentContainer.prepend(guideContentWrapper);
            }
          {% else %}
            var guideContentContainer = document.querySelector('.content-grid__main');

            {# Remove unused elements from DOM. #}
            guideContentWrapper.querySelector('guide-slideout-button')?.remove();

            if (guideContentContainer) {
              {# Move guide content into wrapper. #}
            {% if settings.editPageLocation == 'append' %}
              guideContentContainer.append(guideContentWrapper);
            {% elseif settings.editPageLocation == 'prepend' %}
              guideContentContainer.prepend(guideContentWrapper);
            {% endif %}
            }
          {% endif %}

          {# Remove `.hidden` class to show guide content. #}
          guideContentWrapper.classList.remove('hidden');
        }
      }

    {% endset %}
    {% js guideContentMove on ready %}
  </div>
{% endif %}
