{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{#{% dd _context %}#}

{% if guides|length %}
  <div data-guide-content>
    {% if settings.editPageLocation == 'slideout' %}
      {% set guidesSlugs = [] %}
      {% for guide in guides %}
        {% set guidesSlugs = guidesSlugs|merge([guide.slug]) %}
      {% endfor %}
      {% include 'guide/_partials/slideout_button.twig' with { docs: false, element: element ?? null, group: group ?? null, label: settings.guideButtonLabel != '' ? settings.guideButtonLabel : 'Guide'|t('guide'), slug: guidesSlugs|join('|') } only %}

      {% set guideContentMove %}
        var guideLpGuideMarkup = document.querySelector('.lp-content [data-guide-content]');
        if (guideLpGuideMarkup) {
          guideLpGuideMarkup.remove();
        }

        var guideMarkup = document.querySelector('#content [data-guide-content]');
        var guideContentContainer = document.querySelector('#action-buttons');

        if (guideMarkup && guideContentContainer) {
          guideContentContainer.prepend(guideMarkup);
        }
      {% endset %}
      {% js guideContentMove %}
    {% else %}
      {% set params = {
        guideDisplayArea: 'elementEdit',
        displayId: 'page',
        element: element ?? null,
        guides: guides,
      } %}

      {% if group == 'user' %}
        {% set params = params|merge({ user: element ?? null }) %}
      {% else %}
        {% set params = params|merge({ element: element ?? null }) %}
      {% endif %}

      {% include 'guide/_partials/guide_display.twig' with params only %}

      {% set guideContentMove %}
        var guideLpGuideMarkup = document.querySelector('.lp-content [data-guide-content]');
        if (guideLpGuideMarkup) {
          guideLpGuideMarkup.remove();
        }

        var guideMarkup = document.querySelector('#content [data-guide-content]');
        var guideContentContainer = document.querySelector('.content-grid__main');

        if (guideMarkup && guideContentContainer) {
        {% if settings.editPageLocation == 'append' %}
          guideContentContainer.append(guideMarkup);
        {% elseif settings.editPageLocation == 'prepend' %}
          guideContentContainer.prepend(guideMarkup);
        {% endif %}
        }
      {% endset %}
      {% js guideContentMove %}
    {% endif %}
  </div>
{% endif %}
