<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ entry ? entry.title ~ ' | ' : '' }}Craft Plugin</title>
    <meta  charset="utf-8">
    <meta  name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    {% block content %}
      <p>Hello, World!</p>
    {% endblock %}
  </body>
</html>