{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if proEdition %}
  {% if guide ?? false %}
    {% include 'guide/_partials/guide_display.twig' with { displayId: 'widget', guides: [guide] } only %}
  {% else %}
    <p>The guide that was displayed here is no longer available. Select another guide in this widget’s settings.</p>
  {% endif %}
{% else %}
  <p>Guide widgets are available in the PRO edition of Guide. <a href="{{ url('plugin-store/guide') }}">Please upgrade the Guide plugin</a> to add guides to Dashboard widgets.</p>
{% endif %}