{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if (guide ?? false) and proEdition %}
  {% include 'guide/_partials/display_guide.twig' with { displayId: 'widget', guides: [guide] } only %}
{% else %}
  <div style="padding: 20px;">The guide that was displayed here is no longer available. Select another guide in this widget’s settings.</div>
{% endif %}