{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if proEdition %}
  {% if guide ?? false %}
    {% include 'guide/_partials/guide_display.twig' with { guideDisplayArea: 'widget', displayId: 'widget-' ~ widgetId, guides: [guide], placeholderText: 'Refresh this page to view this guide.'|t('guide') } only %}
  {% else %}
    <p>{{ 'The guide that was displayed here is no longer available. Select another guide in this widget’s settings.'|t('guide') }}</p>
  {% endif %}
{% else %}
  <p>{{ 'Guide widgets are available in the PRO edition of Guide.'|t('guide') }} <a href="{{ url('plugin-store/guide') }}">{{ 'Please upgrade the Guide plugin</a> to add guides to Dashboard widgets.'|t('guide') }}</p>
{% endif %}