{# @var craft \craft\web\twig\variables\CraftVariable #}

<h1>Managing Users</h1>


<div class="guide_grid guide_grid--2_column">
    <div>
        <h2 data-guide-section>Creating a New User</h2>
        <p>To add a user to a User Group, start by clicking on the <a href="{{ url('users') }}">Users</a> tab in the Control Panel. To add a user, click the red &ldquo;+&nbsp;New User&rdquo; button and fill in as many fields as you can under the Account tab.</p>
        <p><em>NOTE: Each user must have a unique username and email address.</em></p>
        <p>To set user permissions, start by clicking on the Permissions tab. In most cases, you can simply assign a user to a User Group. You may also assign a specific permission to a user by checking the appropriate boxes in the Permissions section.</p>
        <p>Click the red &ldquo;Save&rdquo; button to add the new user or to update an existing user&rsquo;s settings.</p>
    </div>
    {{ guideAsset('guide-users-permissions.png') }}
</div>

{% if currentUser.can('administrateUsers') %}
    <hr>

    <div class="guide_grid guide_grid--image">
        <div>
            <h2 data-guide-section>User Account Activation and Passwords</h2>
            <p>To activate a new user&rsquo;s account, start on the <a href="{{ url('users') }}">Users</a> tab. Click on the username of that user to go to their user edit page. On this page, you&rsquo;ll see a black gear button with options for that particular user.</p>
            <p>When a new user is added, their account status is set to &ldquo;Unverified&rdquo;. To change this, click on the gear and click the &ldquo;Send activation email&rdquo; option. The user will receive an activation email that will allow them to set their password and log in. Once the user has logged in for the first time, their status is then changed to &ldquo;Active&rdquo;.</p>
            <p>You may immediately activate a user account by clicking on the &ldquo;Activate account&rdquo; option.</p>
        </div>
        {{ guideAsset('guide-users-activate.png') }}
    </div>
{% endif %}