{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Guide plugin for Craft CMS
 *
 * AdminsLog Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2018 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     1.0.0
 */
#}

<div class="guide_widget">
    <div class="guide_widget__content guide_text">
        <h1>Website Updates</h1>

        {% set logEntries = guideQuery({
            elementType: 'adminsLog',
            orderBy: 'dateCreated desc',
            limit: totalLogs ?? 1,
        }, 'all') %}

        {% if logEntries|length %}
            {% for item in logEntries %}
                {{ item.content|markdown }}

                {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        {% endif %}

        {% if guideSettings.guideTwoWarnings %}
            <div class="guide_fpo" style="margin-top: 20px; padding: 20px; font-size: .9rem;">Guide 2.0 is in the works and this feature is getting removed. Communicator is its replacement and it can be <a style="color: white !important; text-decoration: underline !important;" href="{{ url('plugin-store/communicator') }}">found in the Plugin Store</a></div>
        {% endif %}
    </div>
</div>