{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Guide plugin for Craft CMS
 *
 * GuideWidget Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2017 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     1.0.0
 */
#}

<div class="guide_widget">
    <div class="guide_widget__content guide_text">
        {% switch format %}
            {% case 'markdown' %}
                {{ message|markdown }}
            {% case 'twig' %}
                {{ include(template_from_string(message)) }}
        {% endswitch %}
    </div>
</div>