{# /**
 * Guide plugin for Craft CMS
 *
 * UI element field
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2021 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     3.0.0
 */ #}

<p>Because UI Elements are saved in project config, you cannot select a guide yet. A select field will appear in your fields where this UI Element will be placed. This will let you select guides that have been created for that environment.</p>
