{# /**
 * Guide plugin for Craft CMS
 *
 * UI element field
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     3.0.0
 */ #}

{% if proEdition %}
  {% set displayId = 'uiElement-' ~ uid %}

  {% include 'guide/_partials/guide_display.twig' with {
    guideDisplayArea: 'uiElement',
    displayId: displayId,
    element: element ?? null,
    guides: guide ?? false ? [guide] : null,
    inlineEditorId: displayId,
    placementId: placementId ?? false,
  } only %}
{% else %}
  <p>Guide UI elements are available in the PRO edition of Guide. <a href="{{ url('plugin-store/guide') }}">Please upgrade the Guide plugin</a> to add guides to UI elements.</p>
{% endif %}